<ion-content>
    <div class="list content">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Abbreviated Team Name</span>
            <input type="text" ng-hide-on-enter placeholder="Enter Short Team Name" ng-model="data.abbrTeamName" autocomplete="off">
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Full Team Name</span>
            <input type="text" ng-hide-on-enter placeholder="Full Team Name" ng-model="data.fullTeamName" autocomplete="off">
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Club Address</span>
            <input type="text" ng-hide-on-enter placeholder="Enter Address" ng-model="data.clubAddress" autocomplete="off">
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Town / City</span>
            <input type="text" ng-hide-on-enter placeholder="Enter Town/City" ng-model="data.townCity" autocomplete="off">
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">County</span>
            <input type="text" ng-hide-on-enter placeholder="Enter Address" ng-model="data.country" autocomplete="off">
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Post Code</span>
            <input type="text" ng-hide-on-enter placeholder="Enter Postcode" ng-model="data.postCode" autocomplete="off">
        </label>    
    </div>
</ion-content>
<ion-footer-bar align-title="left" class="button-footer-wrap">
    <div class="button-footer">
        <button class="button icon icon-right ion-chevron-right hide-on-keyboard-open" ng-click="saveTeam()">
            Save Team
        </button> 
    </div>
</ion-footer-bar>