<ion-view view-title="Edit My Team" hide-back-button="true">

    <ion-header-bar class="bar-positive"></ion-header-bar>
    <ion-header-bar class="bar-stable bar-subheader">
        <button class="button button-clear button-positive" ng-click="back()"><i class="icon ion-chevron-left"></i>
            <strong>Back</strong>
        </button>
        <button class="button button-clear button-positive" ng-click="deleteTeam({{data.teamId}})" ng-if="myTeamId > 0">
            <strong>Delete</strong>
        </button>
    </ion-header-bar>

    <div ng-include="'templates/team/_addteam.html'"></div>

</ion-view>