<ion-view view-title="Team Details" hide-back-button="true">
    <ion-header-bar class="bar-positive"></ion-header-bar>
    <ion-header-bar class="bar-stable bar-subheader">
        <button class="button button-clear button-positive" ng-click="editTeam(data.teamId)">
            <strong>Edit Team</strong>
        </button>
        <button class="button button-clear button-positive" ng-click="openGoogleMaps(data.townCity)">
            <strong>Directions</strong>
        </button>
    </ion-header-bar>

    <div ng-include="'templates/team/_team.html'"></div>

</ion-view>