<ion-view view-title="Teams" hide-back-button="true" class="teams">

    <ion-header-bar class="bar-positive"></ion-header-bar>
    <ion-header-bar class="bar-stable bar-subheader">
        <button class="button button-clear button-positive" ng-click="addNewTeam()">
            <strong>Add Team</strong>
        </button>
        <button class="button button-clear button-positive" ng-click="searchTeam()">
            <strong>Search</strong>
        </button>
    </ion-header-bar>

    <ion-content class="content">
        <div class="list">
            <div class="item" ng-repeat="team in teamFactory.searchTeams | orderBy: 'fullTeamName'">
                <div class="row" ng-click="teamDetail(team.teamId)">
                    <div class="col">
                        <span class="team-label">Team Name</span><br/>
                        <span class="item-text-wrap">{{team.fullTeamName}}</span><br/>
                        <span class="team-label team-location">Location</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-80">
                        <span>{{team.townCity}}</span>
                    </div>
                    <div class="col col-20">
                        <span class="link" ng-click="teamResult(team.fullTeamName)">
                            Team Results
                            <i class="icon ion-chevron-right"></i>
                        </span>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <br>

        <script id="popup-template.html" type="text/ng-template">
            <input ng-model="data.search" ng-hide-on-enter type="text" placeholder="Search" ng-change="searchTeamAutoComplete()">
            <div class="autocomplete" ng-include="'templates/team/_search.html'"></div>
        </script>

    </ion-content>
</ion-view>