<ion-content>
    <div class="content divider-top result-detail">
        <div class="row">
            <div class="col" style="padding-right: 10px;">
                <div class="label-score align-right divider" ng-bind="team1Score()"></div>
                <div class="divider team-name align-right"><strong>{{data.team1}}</strong></div>
                <div>Trys</div>
                <div class="divider">{{data.team1Try}}</div>
                <div>Conversions</div>
                <div class="divider">{{data.team1Conversion}}</div>
                <div>Drop Goals</div>
                <div class="divider">{{data.team1DropGoal}}</div>
                <div>Penalty</div>
                <div class="divider">{{data.team1Penalty}}</div>
            </div>
             <div class="col-divider">
                <div class="ion-minus-round divider"></div>
                <div class="divider"><strong>V</strong></div>
                <div class="vertical-divider">&nbsp;</div>
                <div class="vertical-divider">&nbsp;</div>
                <div class="vertical-divider">&nbsp;</div>
                <div class="vertical-divider">&nbsp;</div>
                <div class="vertical-divider">&nbsp;</div>
                <div class="vertical-divider">&nbsp;</div>
                <div class="vertical-divider">&nbsp;</div>
                <div class="vertical-divider">&nbsp;</div>
            </div>
            <div class="col" style="padding-left: 10px;">
                <div class="label-score divider" ng-bind="team2Score()"></div>
                <div class="divider team-name"><strong>{{data.team2}}</strong></div>
                <div>Trys</div>
                <div class="divider">{{data.team2Try}}</div>
                <div>Conversions</div>
                <div class="divider">{{data.team2Conversion}}</div>
                <div>Drop Goals</div>
                <div class="divider">{{data.team2DropGoal}}</div>
                <div>Penalty</div>
                <div class="divider">{{data.team2Penalty}}</div>
            </div>
        </div>

        <hr>

        <div class="row sub-content">
            <div class="col-50 no-padding">
                <div>Match Date</div>
                <div class="divider">{{data.matchDate}}</div>
                <div>Match Location</div>
                <div>{{data.location}}</div>
            </div>
            <div class="col">
            </div>
            <div class="col-50">
                <div class="">Match Time</div>
                <div>{{data.matchTime}}</div>
            </div>
        </div>

        <div class="row divider-top">
            <span class="link" ng-click="deleteMatch(data.matchId)">Delete Result</span>
        </div>
    </div>
</ion-content>
<ion-footer-bar align-title="left" class="button-footer-wrap">
    <div class="button-footer">
        <button class="button icon icon-right ion-chevron-right hide-on-keyboard-open" ng-click="shareResult()">
            Share Result
        </button> 
    </div>
</ion-footer-bar> 
