<ion-view view-title="About Rugby Score Tracker" hide-back-button="true">
    <ion-content class="about-content-wrap content">
        <div class="about-content">
            <p>
                Having two sons play club and school rugby from the age of 7, Chris Bigsby decided it was time to develop this app as many
                parents, including himself, could barely recall the score during a game let alone a year later. Rugby Score
                Tracker is an aid for parents, coaches and teachers to keep track of the score during games and if you have
                downloaded the Pro version you can record the scores for future reference. Note: Rugby Score Tracker is not
                an official score keeper and match officials score recordings are final. Respect the Referee
            </p>
            <p>
                If purchasing the Rugby Score Tracker Pro you will have access to historic games, list of clubs played and a full break down
                of scores and teams. You will be able to share scores with friends and family via email and social media.

                <p> Rugby Score Tracker Version 1.0
                    <br/> Created by Christopher Bigsby ©2016 all rights reserved.<br/> Developed by Christopher Bigsby
                    & Leigh Evans
                </p>
        </div>
    </ion-content>
</ion-view>