<ion-view view-title="Match" hide-back-button="true">
    <ion-content ng-controller="AppController" class="about-list content">
        <div class="list">
            <div class="item row" ui-sref="app.about">
                <div class="col text-center">
                    About Rugby Score Tracker
                </div>
            </div>
            <div class="item row" ui-sref="app.scoring">
                 <div class="col text-center">
                    Scoring Explained
                 </div>
            </div>
            <div class="item row" ui-sref="app.using">
                <div class="col text-center">
                    Using The App
                </div>
            </div>
            <div class="item row" ui-sref="app.about">
                <div class="col text-center">
                    Check for updates
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>