<ion-view view-title="Scoring Explained" hide-back-button="true">
    <ion-content class="about-content-wrap content">
        <div class="about-content">
            <p>
                <strong>Try:</strong><br/> When an attacking player touches the ball on or beyond the try line. Also, penalty try’s can
                be awarded by the referee if a player would probably have scored a try but for foul play by an opponent.
                A penalty try is awarded between the goal posts.<br/>
                <strong>TRY = +5pts</b>
            </p>
            <br/>
            <p>
                <strong>Conversion Goal: </strong><br/>Taken after a try has been scored where the kicker will attempt to kick the ball
                between the uprights above the cross bar. The kick is taken inline with where the ball was touch down.<br/>
                <strong>CONVERSION = +2pts</b>
            </p>
            <br/>
            <p>
                <strong>Penalty Goal: </strong><br/> A player scores by kicking a goal from a penalty kick. Penalty kicks are awarded when
                an opposing player commits and offence.<br/>
                <strong>PENALTY = +3pts</b>
            </p>
            <br/>
            <p>
                <strong>Dropped Goal: </strong><br/> Scored during play when an attacking player kicks a goal from a drop kick. A drop kick
                is when the ball is dropped from the hands to the ground and kicked as it rises from its first bounce. The
                ball must pass between the uprights and over the crossbar to score.<br/>
                <strong>DROPPED GOAL = +3pts</b>
            </p>
        </div>
    </ion-content>
</ion-view>