<ion-view view-title="Using the App" hide-back-button="true">
    <ion-content class="about-content-wrap content">
        <div class="about-content">
            <p>
                <strong>Keeping Score</strong><br/> As soon as you land on the Score Tracker screen you can immediately enter
                the scores of two teams before entering their names. To track the score simply tap the plus (+) button on
                the related scoring scenario Try, Conversion, Penalty or Drop Goal and it will keep a tally of the score.
                Should you make a mistake or decision is overturned, an incorrect score can be removed by tapping the relevant
                minus button (–).<br/> At any time you can add the team names if required.
            </p>
            <p>
                <strong>New Match</strong><br/> You can also enter the names of the two teams playing by selecting a 'NEW
                MATCH' in the bottom navigation. By tapping the 'Team Name - A' OR 'Team Name – B' you will be able to enter
                team names up to 38 characters long. Note that if you have already started to enter scores these will be
                deleted by starting a New Match. You will be given the choice to go back or continue.
            </p>
            <p>If your team is playing enter it in 'TEAM A'. You will then be able to populate this window automatically once
                you have checked the 'My Team' box after you have entered your team name for the first time. Or by entering
                it by the 'My Team' button in the navigation footer.
            </p>
            <p>
                <strong>My Team</strong><br/> Here you can add your club team and it's location. Once you have saved a match
                result the last score will appear on your 'My Team' page. This will be replaced the next time you save a
                score. On the Rugby Score Tracker Pro version you will be able to store previous games and search results
                by team.
            </p>
            <p>
                <strong>Teams</strong><br/> Any new team added to the ‘New Match’ will be added automatically to the 'Teams'
                area. You can then edit that team and add in its location. Alternatively you can add teams directly at this
                window. You can then search team results, get the detailed result breakdown, share that result and edit it.
            </p>

            <p>
                <strong>Save Score </strong><br/> All scores can be saved for future reference. Once saved the scores will
                be added to the 'Results' facility and teams will be added to the 'Teams' facility. Most recent score will
                be added to your team only if 'My Team' was selected.
            </p>
            <p>
                <strong>Share Result </strong><br/> Match results can be emailed, or shared to Facebook and Twitter. Simply
                go to the 'Results' area, locate the game and access the sharing menu. You can also do this by way of the
                'My Team' facility if it’s your team’s results you wish to share.
            </p>
            <p>
                <strong>Searching Teams and Results </strong><br/> You can search previously played teams and their results
                via either the 'Teams' or 'Results' areas.
            </p>
            <p>
                <strong>Results </strong><br/> Search teams you have played before to see what the previous results were.
                You can also see a breakdown of tries, conversions, penalty goals and drop goals made.
            </p>
        </div>
    </ion-content>
</ion-view>